.movies__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    h1 {
        text-align: center;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        gap: var(--size-4);
        list-style-type: none;
        margin: var(--size-4) 0;
        padding: 0;

        .movie {
            position: relative;
            width: var(--size-fluid-9);
            height: 200px;
            margin: 0;
            padding: 0;
            border: 1px solid var(--gray-7);
            border-radius: var(--radius-2);
            box-shadow: var(--shadow-3);
            cursor: pointer;
            overflow: hidden;

            &:hover {
                animation: var(--animation-scale-up) forwards;
            }

            a {
                display: block;
                color: var(--text-1);
            }

            &__image {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--surface-1);
                    opacity: 0.5;
                }

                img {
                    inline-size: 100%;
                    object-fit: cover;
                }
            }

            &__title,
            &__counter {
                position: absolute;
                color: var(--text-1);
            }

            &__title {
                top: 0.5rem;
                left: 0.5rem;
                font-size: var(--font-size-fluid-1);
                font-weight: var(--font-weight-7);
                text-transform: uppercase;
            }
        }

        .addmore {
            width: var(--size-fluid-9);
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dashed var(--gray-7);
            border-radius: var(--radius-2);

            button {
                display: block;
                width: 100%;
                height: 100%;
                background: none;
                cursor: pointer;

                i {
                    font-size: var(--size-8);
                    color: var(--brand);
                }

                &:hover,
                &:active {
                    animation: var(--animation-blink) forwards;
                    animation-duration: 3s;
                }
            }
        }
    }
}
