@use 'use/fonts';
@import 'open-props/style';
@import 'open-props/normalize';

:root {
    --brand: #f55055;
}

main {
    width: 100%;
    height: 100vh;
    padding: var(--size-3);

    div.form {
        h1 {
            font-size: var(--size-fluid-4);
            text-align: center;
            margin-bottom: var(--size-5);
            max-inline-size: 100%;
        }
    }
}
